.header-container {
    padding: 20px 10px;
    margin-bottom: 20px;
    background-color: grey;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.player-info {
    flex-grow: 3
}

.player-name {
    margin-right: 20px;
    font-weight: 800;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.loader {
    flex-grow: 2;
    padding-right: 20px;
}